@model IEnumerable<BLL.DAL.Song>

@{
    ViewData["Title"] = "Songs";
}

<h1>Songs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Song</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Album</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Duration</td>
                <td>@song.Album.Name</td>
            </tr>
        }
    </tbody>
</table>
